.page {
  background-color: #d8f5d8;
  padding: 130px 0 0;
  overflow-x: hidden;
}
.tileup {
  box-shadow: 1px 1px 10px rgb(201, 201, 201);
  background-color: white;
  box-shadow: 0 0 7px rgb(151, 151, 151);
  margin: 20px 10px;
  padding: 0;
  width: 80%;
  margin: 30px 10%;
}
.tile {
  width: 95%;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  padding: 0 5% 0 0;
  padding-left: 0;
  margin: auto;
}
.bar {
  background-color: #009c00;
  padding: 15px;
  font-size: 48px;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-left: 40px;
}
.block {
  box-shadow: 1px 1px 10px rgb(201, 201, 201);
  width: 95%;
  margin: 15px 2.5%;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.user {
  flex: 30%;
  width: 30%;
  background-image: url("../../Images/images.jpg");
  background-size: cover;
  height: 190px;
  min-width: 200px;
}

.inner {
  padding: 15px;
  flex: 70%;
}

.one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
}

.one p {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.aadhar,
.date {
  font-weight: 500;
  letter-spacing: 1px;
}
.date {
  font-size: 40px;
}
.group {
  text-transform: lowercase;
  font-size: 14px;
}

.btn {
  width: 100%;
  margin: 20px 0 0;
  color: white;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  padding: 7px;
  background-color: #04a045;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 5px rgb(110, 110, 110);
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.btn:hover {
  background-color: #048339;
  letter-spacing: 2px;
}
.date {
  font-size: 14px;
}

@media all and (max-width: 900px) {
  .user {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  .tile {
    width: 93%;
    margin: auto;
  }
}

@media all and (max-width: 800px) {
  .tile {
    width: 91%;
  }
}

@media all and (max-width: 650px) {
  .tile {
    width: 88%;
  }

  .btn {
    width: 100%;
  }

  .tileup {
    width: 95%;
    margin: 20px 2.5%;
  }
}

.file {
  background-color: #d8f5d8;
  padding: 90px 0 0;
  overflow-y: hidden;
}
.hid {
  display: none;
}
.box {
  width: 40%;
  margin: 80px auto;
  position: relative;
  padding: 20px;
  padding-bottom: 20px;
  min-width: 350px;
  padding-top: 90px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  box-shadow: 0px 0px 10px rgb(124, 124, 124);
  background-color: #ffffff;
  opacity: 1;
}

.tag {
  color: #04a045;
  font-family: "Gemunu Libre", sans-serif;
  text-align: center;
  margin: 10px 0 0;
  padding: 10px;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 800;
}

.imgback {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 3px solid green;
  background-color: #adf1ad;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  padding: 10px;
}

.img {
  height: 120px;
}

.inp,
.txt,
.btn,
.sel,
.btn2 {
  display: block;
  width: 95%;
  margin: 15px auto;
  padding: 5px 2.5%;
  max-width: 340px;
  outline: none;
  border: none;
  min-width: 320px;
}
.sel {
  width: 110%;
  padding: 5px 0;
  margin: 15px 0;
  color: black;
}
.inp,
.txt,
.sel {
  width: 90%;
  margin: 25px auto;
  border-bottom: 2px solid #009c00;
  background-color: #ffffff;
  letter-spacing: 1.5px;
  font-weight: 17px;
  color: #098a09;
}
.sel {
  color: #038103;
}
.txt {
  min-height: 20px;
  max-height: 80px;
  max-width: 360px;
  padding: 5px 0;
}
.inp::placeholder,
.txt::placeholder,
.sel::placeholder {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.txt::placeholder {
  font-size: 14px;
  letter-spacing: 1px;
}
.inp:focus,
.txt:focus,
.sel:focus {
  outline: none;
  border-bottom: 4px solid #009c00;
  padding-bottom: 3px;
}
.btn,
.btn2 {
  width: 100%;
  padding: 7px;
  background-color: #069743;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-top: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 360px;
  box-shadow: 1px 1px 5px rgb(83, 83, 83);
}
.btn2 {
  background-color: #0bb853;
}
.btn:hover,
.btn2:hover {
  background-color: #098a09;
  letter-spacing: 4px;
}

.flex {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 95%;
  margin: auto;
}

.flex p {
  margin: 0 0 0 10px;
  font-size: 14px;
}

.dis {
  display: none;
}
@media all and (max-width: 900px) {
  .pages {
    flex: 50%;
    width: 50%;
  }
}

@media all and (max-width: 750px) {
  .flex {
    margin-top: 0px;
  }
  .cor {
    border-right: 0;
  }
  .pages {
    flex: 100%;
    width: 80%;
  }
  .header {
    height: 10vh;
  }

  .logo {
    height: 10vh;
  }

  .pages {
    margin-top: 10px;
  }
}
@media all and (max-width: 650px) {
  .box1 {
    font-size: 40px;
  }
  .fifty {
    flex: 30%;
    width: 30%;
  }

  .inp {
    width: 90%;
  }

  .inp,
  .txt,
  .btn,
  .sel,
  .btn2 {
    min-width: 200px;
  }
}

@media all and (max-width: 600px) {
  .pages a {
    max-height: 55px;
    min-height: 60px;
  }
  .pages a h3 {
    padding: 10px;
  }
  .pages a h3 span {
    padding: 10px;
  }
  .icon {
    font-size: 28px;
  }
}

@media all and (max-width: 500px) {
  .box1 {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .cont {
    font-size: 12px;
  }
  .box {
    min-width: 300px;
    margin: 100px auto;
  }

  .inp,
  .txt,
  .btn,
  .sel,
  .btn2 {
    min-width: 200px;
  }
}

.nope {
  width: 40%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  padding: 50px 10px;
  min-width: 330px;
  font-size: 24px;
  text-align: center;
}

.nopep {
  font-size: 30px;
}

.select {
  width: 40%;
  margin: auto;
  padding: 2px 2px;
  min-width: 250px;
  text-align: center !important;
  max-width: 350px;
}

.select a {
  box-shadow: 1px 1px 10px rgb(156, 156, 156);

  text-align: center !important;
  display: block;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  min-width: none;
  border: 1px solid #04a045;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  z-index: 1;
  background-color: rgb(248, 248, 248);
  padding: 7px;
  color: #04a045;
  text-transform: uppercase;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 24px;
  font-weight: 600;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  border-color: #009c00;
  background-color: #04a045;
  color: white;
}

.select a:hover {
  background-color: white;
  color: #04a045;
  box-shadow: 0 0 10px #04a045;
  letter-spacing: 2px;
}

@media all and (max-width: 800px) {
  .fifty {
    width: 100%;
  }

  .nope {
    font-size: 20px;
    margin-top: 20px;
  }

  .nopep {
    font-size: 24px;
  }
  .select a {
    font-size: 20px;
  }
}
